.product-list {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    padding: 16px;
    ul {
        list-style-type: none;
        padding: 0;
        li {
            padding: 0.4em 0.3em;
            &:hover {
                color: #f65100;
                background: #eee;
                cursor: pointer;
            }
            &:active, &:focus {
                color: #fff;
                background: #28c;
            }
        }
    }
}
