.stock-check {
    padding: 16px;
    .product-list {
        list-style-type: none;
        padding: 0;
        li {
            padding: 0.4em 0.3em;
            &:hover {
                color: #f65100;
                background: #eee;
                cursor: pointer;
            }
            &:active, &:focus {
                color: #fff;
                background: #28c;
            }
        }
    }
    .input-group {
        margin: 8px;
        display: inline-block;
    }
}
