.display {
    display: inline-block;
    vertical-align: top;
    width: 800px;
    padding: 16px;
    .shopfloor, .warehouse {
        display: inline-block;
        vertical-align: top;
        width: 400px;
    }
    .active-product {
    }
}
